// Features

#features {
    padding: 30px 20px;
}

.feature-shadow {
    box-shadow: 0 0px 8px hsla(0, 0%, 37%, 0.151);
}

.feature-box {
    background-color: $white;
    border-radius: 10px;
    padding: 30px 35px;
    margin: 35px 0;
    // h2 {
    //     font-size: 1.2rem;
    // }
    img {
        margin: 30px 0 50px 0;
    }
    p {
        // font-size: 0.9rem;
        opacity: 0.5;
    }
}

.users-text {
    padding: 0 5px;       
}

@media (min-width: 540px) {

    #features {
        padding: 80px 102px;
    }

}

@media (min-width: 1024px) {

    #features {
        padding: 80px 112px 0;
    }

    .feature-box {
        align-items: center;
        border-radius: 10px;
        text-align: left;
        padding: 40px 20px 40px 100px;
        margin: 35px 0;
        // h2 {
        //     font-size: 1.2rem;
        // }
        img {
            margin: 0;
            width: 70%;
        }
        p {
            // font-size: 0.88rem;
            opacity: 0.8;
        }
    }

}

@media (min-width: 1440px) {

    #features {
        padding: 80px 112px 0;
    }

    .feature-box {
        h2 {
            // font-size: 2.2rem;
            margin-bottom: 10px;
        }
        // p {
        //     font-size: 1.3rem;
        // }
    }

}