// Footer

#footer {
    color: $white;
    background-color: $very-dark-cyan;
    text-align: left;
    padding: 100px 20px 0;
}

.footer-logo {
    @extend .navbar-brand;
    filter: brightness(1000%) saturate(0) contrast(1000%) invert(0);
    margin-bottom: 20px;
}

.contacts {
    margin-bottom: 20px;
    p {
        font-size: 1rem;
    }
}

.footer-icon {
    margin-right: 25px;
}

.about-us, .career {
    font-size: 1rem;
    P {
        &:hover {
            text-decoration: underline;
        }
    }
}

.social-links {
    margin: 20px auto 0;
}

.socials { 
    padding: 10px 11px;
    margin: 0 15px 0 0;
    border: 1px solid $white;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        border: 1px solid $pink;
        color: $pink;
    }
}

.socials-fb {
    @extend .socials;
    padding: 10px 13px;
}

#copyright {
    @extend #footer;
    font-size: 0.8rem;
    text-align: center;
    padding: 10px 0;

}

@media (min-width: 540px) {

    #footer {
        padding: 100px 102px 0;
    }

    #copyright {
        padding: 30px;
    }
}

@media (min-width: 1024px) {

    #footer {
        padding: 100px 112px 0;
    }

    .footer-logo {
        max-width: 20%;
        margin-bottom: 30px;
    }

    .contacts, .about-us, .career {
        margin-right: 5%;
    }
    
    .contacts {
        width: 30%;
        margin-bottom: 0;
    }
    
    #copyright {
        text-align: end;
        padding: 50px 62px;
    
    }

}

@media (min-width: 1440px) {

    #footer {
        padding: 150px 112px 0;
    }
    
    .contacts, .about-us, .career {
        padding-right: 5px;
    }
    
    #copyright {
        padding: 50px 112px;
    }
}